$phone: '(max-width: 480px)';
@mixin respond-to($media) {
     @media only screen and #{$media}{
        @content;
    }
}

$teal-lighten-2: #4db6ac;
$teal-lighten-4: #b2dfdb;
$teal-lighten-5: #e0f2f1;
$teal: #009688;
$red-lighten-3: #ef9a9a;
$light-grey: #ccc;
$dark-grey: #555;
html {
    height: 100%;

    body {
        font-family: 'Lato', sans-serif;
        margin: 0;
        height: 100%;
        color: #555;

        .header {
            text-align: center;
            width: 100%;
            position: fixed;
            z-index: 100;
            background: #F5F5F5;

            .nav {
                float: right;
                text-align: center;
                font-size: 20px;
                padding-right: 64px;
                @include respond-to($phone) {
                    float: none;
                    padding-right: 0;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    @include respond-to($phone) {
                        margin: auto;
                    }

                    li {
                        display: inline-block;
                        text-align: center;

                        &:hover {
                            transition-property: color, background;
                            transition-duration: 0.5s;
                            transition-timing-function: ease-out;
                            // background: #CFD8DC;
                            background: $teal-lighten-5;
                            a {
                                // color: #607D8B;
                                color: $teal;
                            }
                        }

                        a {
                            padding: 24px 24px 32px;
                            text-decoration: none;
                            text-align: center;
                            color: #bdbdbd;
                            display: block;
                            @include respond-to($phone) {
                                font-size: 14px;
                                padding: 4px 8px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }

        .panel {
            &#about {
                text-align: center;
                padding-top: 86px;
                color: #fff;
                @include respond-to($phone) {
                    padding-top: 40px;
                }

                .panel-content {
                    width: 100%;
                    text-align: center;
                    padding: 164px 0 132px 0;
                    font-weight: 300;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                    @include respond-to($phone) {
                        font-size: 14px;
                        padding: 32px;

                        .break {
                            display: none;
                        }
                    }

                    .name {
                        letter-spacing: 15px;
                        font-size: 64px;
                        margin-bottom: 16px;
                        font-weight: 500;
                        @include respond-to($phone) {
                            font-size: 32px;
                            letter-spacing: 3px;
                        }
                    }

                    .summary {
                        @include respond-to($phone) {
                            font-size: 14px;
                            font-weight: 300;
                        }
                        .collapsible {
                          border: none;
                          box-shadow: none;
                          margin-top: 32px;
                          li {
                            &.active {
                              a.down {
                                display: none;
                              }
                              a.up {
                                display: inline-block;
                              }
                            }
                            a.up {
                              display: none;
                            }
                          }
                          .collapsible-header {
                              background: inherit;
                              border: none;
                              height: auto;
                              i {
                                display: inline-block;
                                float: none;
                                margin-right: 0;
                                margin-top: 1px;
                              }


                          }

                          .collapsible-body {
                            border: none;
                            font-size: 15px;
                            margin-top: 16px;
                          }
                        }

                    }
                }
            }

            &#experience {
                text-align: center;

                .panel-content {
                    .collapsible {
                        margin: 148px 0;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        border: none;
                        @include respond-to($phone) {
                            margin: 32px 0;
                        }

                        li {
                            margin: 4px 0;

                            &:hover {
                                -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                                -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                            }

                            .collapsible-header {
                                min-height: 122px;
                                padding-top: 16px;
                                line-height: 24px;
                                border-bottom: none;
                                @include respond-to($phone) {
                                    min-height: 100px;
                                }

                                .job-title {
                                    // color: #555;
                                    color: $teal-lighten-2;
                                    font-weight: 700;
                                    font-size: 24px;
                                    line-height: 30px;
                                    padding: 4px 0;
                                    @include respond-to($phone) {
                                        font-size: 16px;
                                        line-height: 16px;
                                    }
                                }

                                .company {
                                    color: $light-grey;
                                    display: inline;
                                    font-size: 16px;
                                    line-height: 16px;
                                    padding: 4px 0;
                                    @include respond-to($phone) {
                                        font-size: 14px;
                                        line-height: 16px;
                                    }
                                }

                                .time {
                                    font-size: 14px;
                                    font-weight: 400;
                                    padding: 4px 0 8px;
                                    color: $red-lighten-3;
                                    @include respond-to($phone) {
                                        font-size: 14px;
                                        line-height: 16px;
                                    }
                                }
                            }

                            .collapsible-body {
                                border-top: none;
                                border-bottom: none;
                                @include respond-to($phone) {
                                    padding: 0 24px;
                                }

                                .job-description {
                                    color: $dark-grey;
                                    margin: 0 0 20px;
                                    @include respond-to($phone) {
                                        font-size: 14px;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &#work {
                position: relative;
                .panel-content {
                    padding: 132px 0;
                    @include respond-to($phone) {
                        padding: 32px 0;
                    }

                    .job {
                        .text {
                            @include respond-to($phone) {
                                padding: 16px 8px;
                            }

                            .text-block {
                                margin-bottom: 26px;
                            }

                            .tasks {
                                margin-top: 8px;
                            }
                        }

                        .card-image {
                            padding: 16px;
                            @include respond-to($phone) {
                                padding: 8px;
                            }

                            .slider {
                                @include respond-to($phone) {
                                    height: 245px;
                                }

                                .slides {
                                    background: none;

                                    img {
                                        color: #000;
                                        background-repeat: no-repeat !important;
                                        @include respond-to($phone) {
                                            background-size: contain;
                                            height: 221px;
                                        }
                                    }
                                }

                                .indicators {
                                    z-index: 1000;

                                    .indicator-item.active {
                                        background-color: $teal-lighten-2 !important;
                                    }

                                    .indicator-item {
                                        @include respond-to($phone) {
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                        }

                        .card-content {
                            @include respond-to($phone) {
                                padding: 0 12px 12px;
                            }

                            .card-title {
                              color: $teal-lighten-2;
                                @include respond-to($phone) {
                                    font-size: 16px;
                                    line-height: 14px;
                                }
                            }
                        }

                        .card-reveal {
                            i.right {
                                margin-right: 0;
                                position: absolute;
                                right: 14px;
                            }

                            .card-title {
                              color: $teal-lighten-2;
                                @include respond-to($phone) {
                                    font-size: 16px;
                                }
                            }

                            .job-description {
                                @include respond-to($phone) {
                                    font-size: 12px;
                                    text-align: left;
                                }
                            }
                        }

                        .job-title {
                            color: #555;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 30px;
                            padding: 4px 0;
                        }

                        .company {
                            color: #008080;
                            display: inline;
                            font-size: 16px;
                            line-height: 16px;
                            padding: 4px 0;
                        }

                        .time {
                            font-size: 14px;
                            font-weight: 400;
                            padding: 4px 0 8px;
                            color: #ccc;
                        }

                        .job-description {
                            color: #555;
                            margin: 8px 0;

                            .subtitle {
                                font-weight: 600;
                            }
                        }

                        &:hover {
                            .job-description {
                                display: block;
                            }
                        }
                    }
                }
            }

            &#skills {
                text-align: center;

                .panel-content {
                    width: 100%;
                    margin: 150px 0;
                    @include respond-to($phone) {
                        margin: 32px 0;
                    }

                    .skillset {
                        @include respond-to($phone) {
                            margin-bottom: 8px;
                        }

                        .skills-title {
                            color: $teal-lighten-2;
                            font-weight: 600;
                            font-size: 32px;
                            @include respond-to($phone) {
                                font-size: 16px;
                            }
                        }

                        .skills-body {
                            @include respond-to($phone) {
                                font-size: 14px;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            &#contact {
                color: #fff;
                font-size: 48px;
                text-align: center;

                .panel-content {
                    padding: 164px 0;
                    width: 100%;
                    @include respond-to($phone) {
                        padding: 32px 0;
                    }

                    .col {
                        a {
                            text-decoration: none;
                            color: inherit;
                            @include respond-to($phone) {
                                font-size: 16px;
                            }
                        }

                        .contact-info {
                            display: block;
                            font-size: 24px;
                            font-weight: 300;
                            @include respond-to($phone) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
